<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.smonline.appbox">

    <application
        android:name=".ABoxApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".boot.BootActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.splashloading.SplashAdActivity"
            android:launchMode="singleTop"
            android:theme="@style/FullScreenTheme"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.splashloading.LoadingAppActivity"
            android:launchMode="singleTop"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/FullScreenNoAnimTheme"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.home.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.appimport.AppImportActivity"
            android:label="@string/appimport_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.userguide.UserGuideActivity"
            android:label="@string/userguide_title"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"/>

        <activity
            android:name=".ui.about.AboutActivity"
            android:label="@string/about_title"
            android:screenOrientation="portrait"/>
        <!-- **************************以下配置都是和广告相关的了××××××××××××××××××××××××××××××××× -->
        <!-- 1、打开apk安装界面功能需要的provider，当targetSDKVersion >= 24时才需要添加这个provider。
        provider的authorities属性的值为${applicationId}.fileprovider，当点击广告之后通常会下载广告推广
        的apk，下载完成之后调起安装界面时用到这个了-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>

    </application>

</manifest>
