<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.smonline.appbox">

    <application
        android:name=".ABoxApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".boot.BootActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.splashloading.SplashLoadingActivity"
            android:launchMode="singleTop"
            android:theme="@style/FullScreenTheme"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.home.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.appimport.AppImportActivity"
            android:label="@string/appimport_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.userguide.UserGuideActivity"
            android:label="@string/userguide_title"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"/>

        <activity
            android:name=".ui.about.AboutActivity"
            android:label="@string/about_title"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
